@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;

  .fieldSet {
    @include theme-fieldset;
    margin-bottom: theme-margin('huge');
    border-radius: theme-radius('sm');
    border: 0.5px solid rgb(73, 27, 27);

    .legend {
      color: $secondary;
      font-weight: theme-font-weight('bold');
      font-size: theme-font-size(4px);
    }
  }
  
  .itemsContainer {
    @include flex-row;
    align-items: center;
    border-radius: theme-radius('sm');
    gap: theme-gap("huge");
  }
}

.actionItems {
  @include theme-action-items;
}