@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: theme-gap('huge');
}

.flex {
  display: flex;
  gap: theme-gap('sm');
}

.betweenFlex {
  display: flex;
  justify-content: space-between;
  gap: theme-gap('sm');
}

.flexEnd {
  margin-right: auto;
  width: fit-content;
}
