@use  '../../../scss/variables' as *;
.datePickerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .dateSelector {
    z-index: 1002;
  }
}

.datePickerInput {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
}
.dateRange {
  display: flex;
  align-items: center;
  gap: 10px;
}

.separator {
  font-size: 1rem;
  font-weight: bold;
}
.label {
  display: block;
  width: 30%;
}

.datePickerInput:disabled {
  cursor: not-allowed;
  background-color: #f5f5f5;
}

:global(.react-datepicker__day--outside-month) {
  color: black !important;
  visibility: hidden;
  border-radius: 5px;
}

:global(.react-datepicker__day--selected) {
  background-color: $theme_primary !important;
  color: white !important;
}

:global(.react-datepicker__day--selected:hover) {
  background-color: $primaryLight !important;
}

:global(.react-datepicker__header) {
  background-color: $theme_primary_Light !important;
  font-weight: bold;
}
