@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;
.bottomInputs {
  @include flex-row;
  gap: 40px;
  justify-content: flex-end;
  margin-left: 50px;
}

.renderItem {
  @include flex-row;
  gap: 10px;
}
.inputWrapper{
  @include flex-row;
  gap:30px;
  margin: 10px 0;
  .inputBox {
    @include flex-row;
    gap: 10px;
  }
}
.totalContainer{
  @include flex-row;
  gap:30px;
  width: 50%;
  margin: 10px 0;
  .itemContainers{
    width: 100%;
  }
}