
// Exception
$exception-color: #FF0000;

// Primary Colors
$primary: #0d3058;
$primary-light: #019dce;
$primary-dark: #004ABC;
$primary-transparent: #019ece2e;
$slate-blue: #8596AF;

// Secondary Colors
$secondary: #9e1e4e;
$secondary-light: #f1e2e9;
$secondary-dark: #a71d50;
$secondary-transparent:#e198b5;

// Background & Surface
$background: #f7f7f7;
$surface: #FFFFFF;
$input-bg: #f1f4fb;

// Semantic: Success
$success: #3f6e20;
$success-light: #7BAF5B;
$success-dark: #2E5217;
$success-transparent: #dfffcb;

// Semantic: Danger
$danger: #992d2d;
$danger-light: #C76363;
$danger-dark: #6E1E1E;
$danger-transparent: #fcd7d1;

// Semantic: Warning
$warning: #dc6b01;
$warning-light: #FF9933;
$warning-dark: #A94F00;
$warning-transparent: #ffe9db;

// Semantic: Info
$info: #00ACC1;
$info-light: #33C9DA;
$info-dark: #007A8A;
$info-transparent: #f4f7fc;

// UI Utilities
$light: #F1F1F1;
$dark: #212121;
$overlay: rgba(0, 0, 0, 0.5);
$border: #E0E0E0;
$muted: #6c757d;
$disabled: #BDBDBD;
$placeholder: #9E9E9E;

// Accent & Link
$accent: #FF4081;
$link: #1E88E5;

// Highlight & Focus
$highlight: #FFE082;
$focus: #2962FF;

// Aliases & Misc
$black: #000000;
$white: #FFFFFF;
$table-header: #00ADE13D; 
$transparent: transparent;

// Additional custom variables
$theme-white: #ffffff;
$gray-medium: rgb(234, 234, 234);
$gray-dark: #3b3b3b;
$theme-primary: #4e73df;
$error: #F03B6B;
$errorTransparent:#F03B6B14;
$shadow: #ccc;
$gray: #888888;
$gray-light:#d3d3d3;
$yellow:yellow;
$green:rgb(2, 94, 2);
$red: red ;
$blue: blue ;
$background:#f6f7fb;
$selectedRow: #f4fcfe;
$midnightBlue: #0C3058;
$slateGray: #8596AF61;