@use '/src/scss/variables' as *;
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary;
}

.rtl {
  direction: rtl;
}

.loginBox {
  display: flex;
  width: 800px;
  background: $white;
  border-radius: 12px;
  box-shadow: 0 12px 24px $shadow;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  .loginImage {
    flex: 1;
    background: linear-gradient(45deg, $theme_primary, #6c8bff);
    display: flex;
    justify-content: center;
    align-items: center;
    .animationComponent {
      height: 300px !important;
      width: 300px !important;
    }
  }

  .loginForm {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 12px;

    h1 {
      margin-bottom: 30px;
      font-size: 30px;
      text-align: center;
      font-weight: 700;
      color: #333;
    }

    form {
      .formControl {
        margin-bottom: 20px;

        label {
          display: block;
          font-size: 16px;
          margin-bottom: 8px;
          color: #555;
          font-weight: 500;
        }

        input {
          width: 100%;
          padding: 12px;
          font-size: 16px;
          border-radius: 8px;
          background: #f7f7f7;
          transition: all 0.3s;
          color: #333;
          box-sizing: border-box;

          &:focus {
            outline: none;
            border-color: $theme_primary;
            background: #fff;
          }

          &.error {
            border-color: $error;
          }
        }
      }

      .error {
        color: $error;
        font-size: $font-size-x-small;
        margin-top: 5px;
        margin-left: 5px;
      }

      .linkContainer {
        display: flex;
        justify-content: flex-end;

        .changePassword {
          color: $theme_primary;
          text-decoration: none;
          font-size: $font-size-small;
          transition: color 0.3s ease-in-out;
          margin-bottom: 5px;
          font-size: $font-size-small;
          cursor: pointer;
          font-weight: 600;
          &:hover {
            color: $theme_primary_Light;
          }
        }
      }

      .loginButton {
        margin-top: 5px;
        width: 100%;
        padding: 14px;
        font-size: $font-size-medium;
        color: $white;
        background-color: $theme_primary;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 8px $shadow;

        &:hover {
          background-color: $theme_primary_Light;
          box-shadow: 0 8px 16px $shadow;
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}
