@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;
.mainContainer {
  @include flex-column;
  @include theme-font;
  box-sizing: border-box;
  .fieldSet {
    @include flex-column;
    width: 100%;
    border-radius: theme-radius('md');
    align-self: center;
    justify-content: space-between;
    .topContainer {
      @include flex-row;
      gap: theme-gap('md');
      .sectionContainer {
        @include flex-column;
        flex: 1;
        .flex {
          @include flex-row;
        }
      }
      .center {
        align-items: center;
        justify-content: space-around;
        flex: 0.5;
        button {
          width: 100px;
        }
      }
    }

    .legend {
      color: $secondary;
      color: $danger;
      font-size: theme-font-size(5px);
    }

    .greenBtn {
      background-color: green;
      height: 20px;
      width: 20px;
      margin: theme-margin('md');
      border-radius: theme-radius('sm');
    }
  }
  .bottomDetail {
    @include flex-row;
    justify-content: space-between;
    p {
      color: $danger;
      border: 1px solid $danger;
      padding: theme-padding('md');
    }
  }
}

.actionItems {
  @include flex-row;
  gap: theme-gap('md');
}
