@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  .fieldSet {
    @include flex-column;
    box-sizing: border-box;
    border-radius: theme-radius('md');
    width: 100%;
    margin-bottom: theme-margin('md');
    align-self: center;
    border: 0.5px solid $gray-medium;
    gap: theme-gap("md")
  }
  .selectorAlign {
    @include flex-row;
    gap: theme-gap("md");
    .inputWithSelect{
      @include flex-row;
    }
  }

  .bottomContainer {
    @include flex-row;
    width: 100%;
    margin: theme-margin("md");
    gap: theme-gap("md");
    justify-content: space-between;
  }
}
.innerContainer {
  @include flex-row;
  gap: theme-gap("md")
  p {
    color: $theme_primary;
    font-weight: theme-font-weight("semiBold");
  }
}
.actionItems {
  @include flex-row;
  gap: theme-gap("md")
}
