@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;
.inputAligner{
  @include flex-row;
  gap:theme-gap('lg');
  margin: theme-margin('lg');
}
.actionItems{
  @include theme-action-items;
}