@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.topContainer {
  @include flex-row;
  align-items: center;
  justify-content: space-around;
}

.tableBody {
  height: 50vh;
  overflow: scroll;
}

.tableCell {
  @include flex-row;
  justify-content: center;
}

.actionContainer {
  @include flex-row;
  gap: 10px;
  padding: 5px;
}
