@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;


.dialogBox {
  width: fit-content;
}
.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  .fieldSet {
    @include flex-column;
    box-sizing: border-box;
    border-radius: theme-radius('md');
    width: 100%;
    margin-bottom: theme-margin('md');
    border: 0;
  }
  .itemsContainer {
    border: 0.5px solid $gray-medium;
    padding: theme-padding('sm');
    border-radius: theme-radius('sm');
    .center {
      justify-content: center;
    }
    .selectorAlign {
      @include flex-row;
      gap: theme-gap('md');
      align-items: center;
      > :last-child {
        margin-left: theme-margin('sm');
      }
    }
  }
}

.actionItems {
  @include flex-row;
  gap: theme-gap('md');
}
