@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  .fieldSet {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    border: 0.5px solid lightgray;
  }
  .mainContainer {
    min-height: 20vh;

    box-sizing: border-box;
    padding: 5px;
  }
}
.innerContainer {
  p {
    margin: 0;
    color: $theme_primary;
    font-weight: 600;
    font-size: 14px;
  }
}
.actionItems {
  @include flex-row;
  gap: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
