@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.item {
  @include flex-row;
  gap: 5px;
  margin-bottom: 2px;
  .tableContainer {
    display: flex;
    flex: 8;
  }
  .buttonContainer {
    display: flex;
    flex: 2;
  }
}

.btn {
  @include flex-column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.tableCell {
  @include flex-row;
  justify-content: center;
}

.actionContainer {
  @include flex-row;
  gap: 10px;
  padding: 5px;
}
