@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;
.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  width: 70vw;
  .fieldSet {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    border: 0.5px solid rgb(73, 27, 27);
    .legend {
      color: $secondary;
      font-weight: 700;
      font-size: theme-font-size(4px);
      text-align: center
    }
  }
  .itemsContainer {
    @include flex-row;
    align-items: center;
    gap:20px;
  }
  .bottomOne{
    @include flex-row;
    justify-content: flex-end
  }
  .bottomTwo{
    
    @include flex-row;
    justify-content: space-between;
  }
}
.actionItems {
  @include flex-row;
  gap: 10px;
}
