@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;

  .itemContainer {
    @include flex-row;
    align-items: center;
    gap: theme-gap('md');
    justify-content: space-between;
  }
}

.rowFlex {
  @include flex-row;
  .groupContainer {
    div {
      width: 60%;
    }
  }
}

.actionItems {
  @include flex-row;
  gap: theme-gap('md');
  margin-top: theme-margin('huge');
}
