@use '../../scss/variables' as *;
@use '../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  .fieldSet {
    @include theme-fieldset;
    height: 100%;
    margin-bottom: theme-margin('huge');
  }
  .otherDetailContainer {
    @include flex-row;
    margin: theme-margin('huge') 0px;
  }
}
