@use '../../../ui/Styles/theme.scss' as *;

.mainContainer {
  width: 35vw;
  .rowContainer {
    @include flex-row;
    gap: theme-gap('md');
    height: 50vh;
  }

  .actionItems {
    @include flex-row;
    gap: theme-gap('md');
    margin-top: theme-margin('huge');
  }

  .footer {
    margin-top: theme-margin('huge');
  }
}
