@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  .innerContainer {
    width: 30%;
    .radioCheckBox {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
  .innerContainerLast {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
  }
  .rowDirection {
    flex-direction: row;
  }
  .rangeItem {
    @include flex-row;
    align-items: center;
  }
}

.topHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.addInvoiceTable {
  .addInvoiceCell {
    @include flex-row;
    align-items: center;
  }

  .ListofGefenCell {
    display: flex;
    justify-content: center;
    gap: 2px;
  }
}

.bottomContainer {
  margin-top: 5px;
}

.flex {
  display: flex;
  gap: 3px;
  justify-content: space-around;
}
.itemsContainer {
  align-items: center;
  display: flex;
  gap: 10px;
}
