.container {
  label {
    font-size: 1rem;
    font-weight: 700;
  }
  div {
    display: flex;
    gap: 10px;
  }
}

.label {
  display: flex;
  align-items: center;
}

.input {
  margin-right: 5px;
}
.disabled {
  cursor: not-allowed;
}
