@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.mainContainer {
  display: flex;
  justify-content: space-between;
  .innerContainer {
    width: 30%;
  }
}

.topHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row-reverse;
  margin-top: 5px;
}

.addInvoiceTable {
  .addInvoiceCell {
    @include flex-row;
    align-items: center;
  }

  .ListofGefenCell {
    display: flex;
    justify-content: center;
    gap: 2px;
  }
}

.bottomContainer {
  margin-top: 5px;
}
.rangeItem {
  @include flex-row;
  align-items: center;
}
