@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.mainContainer {
  @include flex-row;
  justify-content: space-between;
  gap: theme-gap('sm');
  .innerContainer {
    width: 30%;
  }

  .innerContainer1 {
    width: 20%;

    .emptySpace {
      width: 100%;
      height: 39px;
    }
  }

  .innerContainer2 {
    width: 40%;
    .groupContainer {
      div {
        width: 100%;
      }
    }
  }
}

.topHeaderContainer {
  @include flex-row;
  flex-wrap: wrap;
  gap: theme-gap('md');
  flex-direction: row-reverse;
  margin-top: theme-margin('lg');
}

.addInvoiceTable {
  .ListofGefenCell {
    @include flex-row;
    justify-content: center;
    gap: theme-gap('sm');
  }
}

.bottomContainer {
  @include flex-row;
  margin-top: theme-margin('lg');
  gap: theme-gap(huge);
  align-items: center;
  justify-content: space-between;
}

.flex {
  @include flex-row;
  justify-content: space-around;
}
.itemsContainer {
  @include flex-row;
  align-items: center;
  gap: theme-gap('md');
}
