@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;
.dialogBox {
  width: 40vw;
}
.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  .fieldSet {
    @include flex-column;
    box-sizing: border-box;
    border-radius: theme-gap('sm');
    width: 100%;
    margin: theme-margin('huge');
    align-self: center;
    border: 0.5px solid lightgray;
    .legend {
      color: $secondary;
      font-weight: 700;
      font-size: theme-font-size(4px);
    }
  }

  .itemsContainer {
    @include flex-row;
    align-items: center;
    border-radius: theme-gap('sm');
  }
  .bottomContainer {
    @include flex-row;
    width: 100%;
    margin: theme-margin('md');

    .rightContainer {
      @include flex-column;
      flex: 1;
      justify-content: space-between;
    }
  }
}
.innerContainer {
  @include flex-row;
  padding: theme-padding('md');
  gap: theme-gap('sm');
  p {
    margin: theme-magrin('');
    color: $theme_primary;
    font-weight: 600;
  }
}
.actionItems {
  @include flex-row;
  gap: theme-gap('sm');
}
