@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;
.actionItems {
  @include flex-row;
  gap:theme-gap("md");
}
.container {
  @include flex-column;
  gap: theme-gap("sm");
  .itemsContainer {
    @include flex-row;
    align-items: center;
    gap:theme-gap("huge");
  }
  .totalContainer {
    @include flex-column;
  }
  .inputAlign {
    @include flex-row;
    width: 80%;
    gap: theme-gap("md");
  }
}
