@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.mainContainer {
  @include flex-row;
  justify-content: space-between;
  gap: theme-gap('sm');
  width: 70%;
  .innerContainer {
    width: 40%;
  }


}

.renderItem {
  @include flex-row;
  gap: theme-gap('sm');
}

.topHeaderContainer{
  @include flex-row;
  gap: theme-gap('sm');
  justify-content: end;
  width: 60%;
}