@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *; *;

  .mainContainer {
    @include flex-row;
    justify-content: space-between;
  }


.topHeaderContainer {
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.addInvoiceTable {
  .addInvoiceCell {
    @include flex-row;
    align-items: center;
  }

  .ListofGefenCell {
    display: flex;
    // justify-content: center;
  }
}

.bottomContainer {
  display: flex;
  margin-top: 5px;
  gap: 20px;
}

.input {
  width: 90%;
}
.inputShort {
  width: 50% !important;
}
.labelClass {
  min-width: 100px;
}

.disabledBox {
  width: 200px;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
}
.flex{
    display: flex;
}