@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  @include theme-font;
  .fieldSet {
    @include theme-fieldset;
    margin-bottom: theme-margin('lg');
  }
}
.actionItems {
  @include flex-row;
  gap: theme-gap('md');
}
