@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.headerInputs {
  display: flex;
  gap: theme-gap('huge');
}

.centerHeading {
  display: flex;
  gap: theme-gap('huge');
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
