@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;
.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;

  .fieldSet {
    @include theme-fieldset;
    margin-bottom: theme-margin('huge');

    .legend {
      color: $secondary;
      font-weight: 700;
      font-size: theme-font-size(4px);
      text-align: center;
    }
  }
  .itemsContainer {
    @include flex-column;
    border-radius: 5px;
    gap: theme-gap('sm');
  }
}

.actionItems {
  @include theme-action-items;
}
