@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;
.fieldSet {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  justify-content: space-around;
  border-radius: 5px;
  align-self: center;
  border: 0.5px solid lightgray;
  height: 100%;
  .legend {
    color: $secondary;
    font-weight: 700;
    font-size: theme-font-size(4px);
  }
  p {
    margin: 0;
  }
  .textCenter {
    text-align: center;
    font-weight: 700;
  }
  .innerContainer {
    height: 30vh;
    padding: theme-padding('lg');
    @include flex-row;
    gap: theme-gap('md');
    .innerBox {
      flex: 1;
      @include flex-column;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      border: 0.5px solid lightgray;
      padding: theme-padding('lg');
      .inputContainer {
        height: 20%;
      }
      .boxContainer {
        @include flex-row;
        justify-content: space-around;
        width: 100%;
        height: 20%;
      }
      .aligner {
        @include flex-row;
        align-self: flex-start;
        gap: theme-gap('huge');
      }
      .itemView {
        @include flex-row;
        align-self: flex-start;
        .itemTitle {
          min-width: 120px;
          font-weight: 600;
        }
        .itemDescription {
        }
      }
    }
  }
}
.actionItems {
  @include flex-row;
  gap: theme-gap('md');
}
