@use '../../scss/variables' as *;
@use '../../ui/Styles/theme.scss' as *;

.actionItem {
  @include flex-row;
  justify-content: space-between;
}
.header {
  @include flex-row;
}
.insititute {
  @include flex-row;
  gap: theme-gap('sm');
  align-items: center;
  width: 100%;
}
.mainContainer {
  @include flex-column;
  .insititute {
    @include flex-row;
    gap: theme-gap('md');
    align-items: center;
  }
}
