@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;

.bottomInputs {
  @include flex-row;
  gap: 40px;
  justify-content: flex-end;
  margin-left: 50px;
}

.renderItem {
  @include flex-row;
  gap: theme-gap('md');
}

.topInputContainer {
  @include flex-row;
  justify-content: space-between;
  padding: 0 theme-padding('lg');
}

.bottomInputContainer {
  @include flex-row;
  gap: theme-gap('md');
}

.rowContainer {
  @include flex-row;
}