@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;
.bottomInputs {
  @include flex-row;
  gap: 40px;
  justify-content: flex-end;
  margin-left: 50px;
}

.renderItem {
  @include flex-row;
  gap: theme-gap('md');
}

.fieldContainer {
  @include flex-row;
  margin-top: theme-margin('md');
}

.centerContainer {
  @include flex-column;
  align-items: center;

  .innerContainer {
      @include flex-row;
      justify-content: space-around;
       width: 100%;
    
  }
}
.footer{
    @include flex-row;
    justify-content: space-between;
}