@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
}
.actionItems {
  @include flex-row;
  gap: theme-gap('md');
}

.innerContainer {
  @include flex-row;
  gap: theme-gap('huge');
  margin-top: theme-margin('huge', '10px');
  p {
    margin-bottom: theme-margin('md');
    color: $theme_primary;
    font-weight: theme-font-weight('semibold');
  }
}
