@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;

.mainContainer {
  @include flex-row;
  justify-content: space-between;
}

.topHeaderContainer {
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.addInvoiceTable {
  .addInvoiceCell {
    @include flex-row;
    align-items: center;
  }

  .ListofGefenCell {
    display: flex;
    justify-content: center;
  }
}
