.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1004;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.bottom {
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-color: black transparent transparent transparent;
}

.top {
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.top::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent black transparent;
}

/* Left tooltip */
.left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.left::after {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-color: transparent black transparent transparent;
}

/* Right tooltip */
.right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.right::after {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-color: transparent transparent transparent black;
}
