@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;
.bottomInputs {
  @include flex-row;
  gap: theme-gap('huge');
  justify-content: flex-end;
  margin-left: 50px;
}

.renderItem {
  @include flex-row;
  gap: theme-gap('md');
}

.fieldContainer {
   @include flex-row;
   margin-top: theme-margin('md');
}

.centerHeader {
  @include flex-column;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-bottom: theme-margin("md");
}

.actionsItems{
    @include flex-row;
    gap: theme-gap('md');
}

.flex{
  display: flex;
  gap: theme-gap('huge');
}

.centerContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: stretch;
}