body {
  margin: 0;
  font-family: 'Rubik',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(211, 211, 211, 0.2);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f8ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #061a3540;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c3058;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

.react-datepicker__current-month {
  font-weight: 400 !important;
}
.react-datepicker {
  z-index: 1002 !important;
}
._datePickerInput_1mgia_7 {
  font-size: 12px;
}

/* Force number input arrows to always be visible */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.warning > div:first-of-type {
  background-color: #e3ce03 !important;
}
.warning h2 {
  color: #e3ce03 !important;
}
.warning button:first-of-type {
  background-color: #e3ce03 !important;
}
