@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;
.bottomInputs {
  @include flex-row;
  gap: 40px;
  justify-content: flex-end;
  margin-left: 50px;
}

.renderItem {
  @include flex-row;
  gap: 10px;
}

.rowContainer {
  @include flex-row;
  gap: theme-gap('md');
}

.filterButtons {
  @include flex-row;
  gap: theme-gap('md');
}

.firstRowContainer {
  @include flex-row;
  justify-content: space-between;
}