@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;

.renderItem {
  @include flex-row;
  gap: theme-gap('md');
}

.rowContainer {
  @include flex-column;
  gap: theme-gap('md');
}

.top{
  @include flex-row;
  gap: theme-gap('md');
  margin-bottom: theme-margin("md");
}
.bottom{
    @include flex-row;
    margin-top: theme-margin("md");
  gap: theme-gap('md');
}