@use '../../ui/Styles/variables' as *;
@use '../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  fieldset {
    .legend {
      color: $danger;
      font-weight: theme-font('semiBold');
      font-size: theme-font-size(4px);
      text-align: center;
    }
  }
}

.actionItems {
  @include flex-row;
  gap: theme-gap('md');
  margin-top: theme-margin("huge");
}
