@use '../../../ui/Styles/theme.scss' as *;
@use '../../../ui/Styles/variables' as *;


.mainContainer {
  @include flex-column;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  .fieldSet {
    @include theme-fieldset;
    width: 100%;
    margin-bottom: theme-margin('huge');
    gap: theme-gap('sm');
  }
  .otherDetailContainer {
    @include flex-row;
    width: 100%;
  }
}

.renderActionItems {
  @include theme-action-items;
}