@use '/src/scss/variables' as *;
.tableOuterContainer {
  width: 100%;
  .checkBoxInput {
    padding-left: 10px;
  }
  .selectedRow {
    display: flex;
    align-items: center;
    span {
      margin: 0px 5px;
    }
  }
  .tableInnerContainer {
    width: 100%;
    max-height: 600px;
    overflow: auto;
    border-radius: 2px;
    .tableRtl {
      text-align: right;
      thead {
        border-top: 0px !important;

        tr {
          th {
            &:first-child {
              padding-right: 10px;
              border-right: none; // Removed right border from first th
            }
            &:last-child {
              padding-left: 10px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-child {
              padding-right: 10px;
              border-right: none; // Removed right border from first td
            }
            &:last-child {
              padding-left: 10px;
            }
          }
        }
      }
    }
    table {
      width: 100%;
      font-size: $font-size-x-small important;
      caption-side: bottom;
      color: $white;
      border-color: inherit;
      border-collapse: collapse;
      text-indent: 0;
      white-space: nowrap;
      text-align: left;
      table-layout: fixed;
      border-top: 0px !important;
      thead {
        top: 0px;
        background-color: $theme-primary;
        position: sticky;
        z-index: 100;
        tr {
          th {
            word-break: normal;
            overflow-wrap: break-word; // Ensures long words break to avoid overflow
            white-space: normal; // Allows text wrapping
            font-size: 12px !important;
            padding: 5px 5px;
            font-weight: 500;
            vertical-align: middle;
            color: $white;
            border-right: 1px solid #cdcdcd; // Added right border to th
            &:first-child {
              padding-left: 10px;
              border-right: none; // Removed right border from first th
            }
            &:last-child {
              padding-right: 10px;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $shadow;
          td {
            overflow-y: auto; /* Prevents content from overflowing */
            scrollbar-width: none;
            padding: 5px 6px 5px 6px;
            font-size: $font-size-x-small !important;
            color: $black;
            width: auto; // Set width to auto based on content
            white-space: nowrap; // Prevent wrapping if content overflows
            border-right: 1px solid #cdcdcd; // Added right border to td
            &:first-child {
              padding-left: 2px;
              border-right: none; // Removed right border from first td
            }
            &:last-child {
              padding-right: 2px;
            }
          }
          &:last-child {
            // border-bottom: 0;
          }
        }
      }
    }
  }
}

.sortingButton {
  cursor: pointer;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  padding: 0px 20px;

  input {
    font-size: $font-size-x-small;
    padding: 5px 7px;
    border: 1px solid #000;
    border-radius: 2px;

    &:invalid {
      border-color: red;
    }
  }

  .goToPage {
    border: 0;
    padding: 5px 7px;
    font-size: $font-size-x-small;
    background-color: $theme_button;
    color: #fff;
  }

  .pageInfo {
    font-weight: 500;
    font-size: $font-size-x-small;
    margin-left: auto;
  }

  .paginationButton {
    display: flex;
    align-items: center;
    gap: 8px;
    button {
      padding: 5px 7px;
      border: 1px solid $black;
      border-radius: 2px;
      display: grid;
      place-items: center;
    }
  }
}

.toolBarContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;

  input,
  select {
    padding: 4px 12px;
    border-radius: 6px;
    border: 1px solid $gray;
    width: 165px;
    font-size: $font-size-x-small;
    color: $black;
    &:focus-visible {
      outline: $black solid 1px;
    }
  }
  input {
    width: 200px;
  }
}
