@use '../../ui/Styles/theme.scss' as *;
@use '../../ui/Styles/variables' as *;
.dialogBox {
  max-width: fit-content;
  max-height: fit-content;
  .dialogContent {
    display: flex;
    flex: 1;
  }
  @include theme-font;
}
.actionItems {
  @include flex-row;
  gap: 10px;
}
.container {
  @include flex-column;
  flex: 1;
  padding: 5px 10px;
  box-sizing: border-box;
  .fieldSet {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    align-self: center;
    border: 0.5px solid lightgray;
    justify-content: space-between;
    .legend {
      color: $theme_primary;
      font-weight: 700;
      font-size: theme-font-size(4px);
    }
    .mainTopContainer {
      @include flex-row;
      gap: 20px;
      margin-bottom: 5px;
      justify-content: space-between;
      width: 100%;
      .buttonAlignerBox {
        @include flex-row;
        width: 100%;
        justify-content: space-between;
      }
      .topInnerLeftContainer {
        height: 100%;
        // width: 50%;
        @include flex-column;
        justify-content: space-between;
      }
      .topInnerRightContainer {
        height: 100%;
        width: 40%;
        @include flex-column;
        justify-content: space-between;
      }
    }
    .alignerContainer {
      @include flex-row;
      width: 75%;
      gap: 5px;
    }
    .mainBottomContainer {
      @include flex-column;
      .legend {
        margin: 10px 80px 10px 0px;
      }
      .tableItem {
        width: 50%;
        height: 100%;
        .headerItem {
          @include flex-row;
          background-color: rgb(203, 202, 202);
          gap: 2px;
          .cells {
            box-shadow: 0px 0px 4px 0px rgb(72, 70, 70);
            @include flex-row;
            justify-content: center;
            flex: 1;
          }
        }
        .bodyItem {
          @include flex-row;
          gap: 2px;
          .cells {
            @include flex-row;
            justify-content: space-around;
            align-items: center;
            flex: 1;
            padding: 5px 0px;
          }
        }
      }
    }
    .rtlCheckBox {
      direction: ltr;
      text-align: right;
    }
  }
}
