@use '../../../ui/Styles/variables' as *;
@use '../../../ui/Styles/theme.scss' as *;

.mainContainer {
  @include flex-column;
  flex: 1;
  box-sizing: border-box;
  .fieldSet {
    @include flex-column;
    .legend {
      color: $secondary;
      font-weight: theme-font-weight("semiBold");
      font-size: theme-font-size(4px);
    }
  }
  .groupRadio {
    @include flex-row;
  }
}

.actionItems {
  @include flex-row;
  gap: theme-gap("md");
  margin-top: theme-margin("huge");
}
